.navBar {
  font-style: 500;
  height: auto;
}
.navBar .nav-responsive {
  margin: auto 0;
  z-index: 1111;
}
.navBar .nav-responsive .button-menu-mobile i,
.navBar .nav-responsive .button-search-mobile i {
  font-size: 2rem;
  margin: 0.6rem;
}
.navBar .logo-wrapper,
.navBar .action-account {
  padding: 1rem;
}

/* middle */
.navBar .nav-midder {
  width: 70%;
}
.navBar .nav-midder .down,
.navBar .nav-midder .up {
  height: 50%;
}
.navBar .logo-wrapper {
  margin: 1rem 1rem;
  min-width: 4rem;
  height: auto;
}
.navBar .nav-midder .up {
  display: inline-grid;
  grid-template-columns: 50% 50%;
  width: 100%;
}

/* navbar-mobile */
.navBar .list-menu-mobile{
  display: none;
  height: 100vh;
  width: 80%;
  background-color: white;
  top: 0;
  left: 0;
  padding-left: 0;
  position: fixed;
}
.navBar .list-menu-mobile a {
  color: #333;
  font-size: 1.5rem;
  font-family: bold;
  width: 100%;
  height: 100%;
}
.navBar .list-menu-mobile li {
  position: relative;
}
.navBar .list-menu-mobile i {
  position: absolute;
  top: 0.5rem;
  right: 0;
}
.navBar .list-menu-mobile .nav-item-lv1 {
  margin-left: 1rem;
  margin: 2rem 1rem 0 1rem;
}
.navBar .list-menu-mobile .list-menu-child,
.navBar .list-menu-mobile .list-menu-child .list-menu-child-2 {
  display: none;
}
.box-title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4caab1;
  height: 5rem;
  font-weight: bolder;
  color: white;
  font-size: 2rem;
}

/* navbar-mobile end */
.navBar .nav-midder .hotline-wrapper h4 a {
  color: #4caab1;
}
.navBar .nav-midder .hotline-wrapper {
  margin: auto 0;
}
.navBar .nav-midder .input-search {
  width: 90%;
  height: 3rem;
  border-radius: 0.5rem;
  border: 1px solid #ebebeb;
  padding: 0.9rem;
  background-color: rgb(233, 224, 224);
  font-size: 1.3rem;
  outline: none;
  border: none;
  position: relative;
}
.navBar .nav-midder .search-wrapper i {
  position: absolute;
  top: 0;
  transform: translate(-150%, 50%);
  color: #333;
  font-size: 2rem;
  cursor: pointer;
}
.navBar .nav-midder .down nav {
  height: 100%;
}
.navBar .nav-midder .up {
  border-bottom: 0.1rem solid #ebebeb;
  padding: 0.2rem 5rem 0.5rem 5rem;
}

.nav-midder .down nav .list-menu {
  padding-left: 0;
  height: 100%;
}
.nav-midder .down nav .list-menu .nav-item-lv1 {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.nav-midder .down nav .list-menu .nav-item-lv1 .list-menu-child {
  top: 100%;
  left: 0;
  position: absolute;
  background-color: white;
  width: 150%;
  transform: translateY(20%);
  visibility: hidden;
  padding: 0;
}
.nav-midder .down nav .list-menu .nav-item-lv1:hover .list-menu-child {
  transform: translateY(0);
  transition-duration: 0.3s;
  visibility: visible;
}
.nav-midder .down nav .nav-item-lv2,
.nav-midder .down nav .nav-item-lv3 {
  width: 100%;
  min-height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem 0 1rem;
  position: relative;
}
.nav-midder .down nav .nav-item-lv2 .link-lv2,
.nav-midder .down nav .nav-item-lv3 .link-lv3 {
  width: 100%;
  height: 100%;
}
.nav-midder .nav-item-lv2 .list-menu-child-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  width: 100%;
  transform: translate(100%, 0);
  visibility: hidden;
  padding: 0;
}
.nav-midder
  .down
  nav
  .list-menu
  .nav-item-lv1
  .nav-item-lv2:hover
  .list-menu-child-2 {
  visibility: visible;
  transition-duration: 0.3s;
}
.navBar .list-menu-mobile .nav-item-lv1:hover .link,
.navBar .list-menu-mobile .nav-item-lv2:hover .link-lv2,
.nav-midder .down nav .list-menu .nav-item-lv1:hover .link,
.nav-midder .down nav .list-menu .nav-item-lv1 .nav-item-lv2:hover .link-lv2,
.nav-midder
  .down
  nav
  .list-menu
  .nav-item-lv1
  .list-menu-child
  .nav-item-lv2
  .list-menu-child-2
  .nav-item-lv3:hover
  .link-lv3 {
  color: #4caab1;
}
.nav-midder .down nav .list-menu .nav-item-lv1 .nav-item-lv2:hover,
.nav-midder
  .down
  nav
  .list-menu
  .nav-item-lv1
  .list-menu-child
  .nav-item-lv2
  .list-menu-child-2
  .nav-item-lv3:hover {
  background-color: whitesmoke;
}
.nav-midder .down nav .list-menu .nav-item-lv1 a {
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
}
.nav-midder .fa-chevron-down,
.nav-midder .fa-chevron-right {
  font-size: 1rem;
  transition: transform 0.3s ease-in-out;
  margin-left: 0.3rem;
}
.nav-midder .nav-item-lv1:hover .fa-chevron-down,
.nav-midder .nav-item-lv2:hover .fa-chevron-right {
  transform: rotate(180deg);
}
.nav-midder .down nav .list-menu .nav-item-lv1:hover::after {
  bottom: 0;
  left: 0;
  content: "";
  position: absolute;
  width: 100%;
  height: 0.2rem;
  background: #4caab1;
  animation-name: borderLine;
  animation-duration: 0.5s;
}
.borderline {
  bottom: 0;
  left: 0;
  content: "";
  position: absolute;
  width: 100%;
  height: 0.2rem;
  background: #4caab1;
}

@keyframes borderLine {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

/* end middle */
/* left */
.acction-account {
  margin: auto 0;
}
.acction-account .icon-wrapper {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  border: 1px solid #c9c9c9;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1.5rem 0 1.5rem;
}
.acction-account .icon-wrapper i {
  font-size: 1.7rem;
}
.acction-account .list-acction-account {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: end;
}
.acction-account .list-acction-account li {
  text-align: center;
  cursor: pointer;
}

.acction-account .list-acction-account li:hover p {
  color: #4caab1;
}

.acction-account .list-acction-account li p {
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0.5rem;
}

.acction-account .list-acction-account li a {
  color: rgb(71, 71, 71);
}

/* end left */

@media only screen and (max-width: 992px) {
  .homepage .navBar {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr) !important;
  }
  .navBar .logo-wrapper{
    width: 18rem;
  }
  .navBar .nav-midder {
    display: none;
  }
  .navBar .nav-responsive {
    display: flex;
  }

  /* acction-account */
  .acction-account .icon-wrapper {
    border: none;
    margin: 0;
  }
  .acction-account .icon-wrapper a {
    font-size: 1.7rem;
  }

  .acction-account .list-acction-account li p {
    display: none;
  }
}
