.navBar {
  font-style: 500;
  height: 8rem;
  padding: 0.2rem 2.5rem 0 2.5rem;
}
.navBar .logo-wrapper,
.navBar .action-account {
  padding: 1rem;
}

/* middle */
.navBar .nav-midder {
  width: 70%;
}
.navBar .logo-wrapper {
  margin: 1rem 1rem;
}
.navBar .nav-midder .hotline-wrapper h4 {
  margin: auto 0;
}
.navBar .nav-midder .hotline-wrapper h4 a{
    color: #4caab1;
}
.navBar .nav-midder .input-search {
  width: 35rem;
  height: 3rem;
  border-radius: 0.5rem;
  border: 1px solid #ebebeb;
  padding: 0.9rem;
  background-color: rgb(233, 224, 224);
  font-size: 1.3rem;
  outline: none;
}
.navBar .nav-midder .search-wrapper{
    position: relative;
}
.navBar .nav-midder .search-wrapper i{
    color: #333;
    position: absolute;
    font-size: 2rem;
    right: 5px;
    top: 4px;
    cursor: pointer;
} 

.navBar .nav-midder .up {
  border-bottom: 0.1rem solid #ebebeb;
  padding: 0.2rem 5rem 0.5rem 5rem;
}
.nav-midder .down nav .list-menu {
  padding-left: 0;
}
.nav-midder .down nav .list-menu .nav-item-lv1 {
  width: 20%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.nav-midder .down nav .list-menu .nav-item-lv1 .list-menu-child{
  top:100%;
  left: 0;
  position: absolute;
  background-color: white;
  width: 150%;
  transform: translateY(20%);
  visibility: hidden;
  padding: 0;
}
.nav-midder .down nav .list-menu .nav-item-lv1:hover .list-menu-child{
  transform: translateY(0);
  transition-duration: 0.3s;
  visibility:visible;
}
.nav-midder .down nav .list-menu .nav-item-lv1 .list-menu-child li {
  padding-left:1rem;
  width: 100%;
  min-height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nav-midder .down nav .list-menu .nav-item-lv1:hover .link , .nav-midder .down nav .list-menu .nav-item-lv1 .nav-item-lv2:hover a {
  color: #4caab1;
}
.nav-midder .down nav .list-menu .nav-item-lv1 .nav-item-lv2:hover{
  background-color: whitesmoke;
}
.nav-midder .down nav .list-menu .nav-item-lv1 a {
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
}
.nav-midder .down nav .list-menu .nav-item-lv1 a i{
  font-size: 1rem;
  transition: 0.5s;
}
.nav-midder .down nav .list-menu .nav-item-lv1:hover i{
  transform: rotate(180deg);
}
.nav-midder .down nav .list-menu .nav-item-lv1:hover span{
    bottom: 0;
    left: 0;
    content: '';
    position: absolute;
    width: 100%;
    height: 0.2rem;
    background: #4caab1;
    animation-name: borderLine;
    animation-duration: 0.5s;
}
.actitve{
  bottom: 0;
  left: 0;
  content: '';
  position: absolute;
  width: 100%;
  height: 0.2rem;
  background: #4caab1;
}
@keyframes borderLine {
    0% {
        transform: scaleX(0);
    }
    100%{
        transform: scaleX(1);
    }
}




/* end middle */
/* left */
.acction-account {
  margin-top: 1rem;
}
.acction-account .icon-wrapper {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  border: 1px solid #c9c9c9;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1.5rem 0 1.5rem;
}
.acction-account .icon-wrapper i {
  font-size: 1.7rem;
}

.acction-account .list-acction-account li {
  text-align: center;
  cursor: pointer;
}

.acction-account .list-acction-account li:hover p {
  color: #4caab1;
}

.acction-account .list-acction-account li p {
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0.5rem;
}

.acction-account .list-acction-account li a {
  color: rgb(71, 71, 71);
}

/* end left */
