

.slick-prev,
.slick-next {
  font-size: 4.1rem;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 3rem;
  height: 3rem;
  padding: 0;
  transform: translate(0, -200%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
  z-index: 2;
}
.slick-prev {
  left: 0.5rem;
}
.slick-next {
  right: 1.5rem;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-next:before {
    content: '→';
  
}
.slick-prev:before {
    content: '←';
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 4rem;
  line-height: 1;
  opacity: 0.75;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
