:root{
  --main--color:#4caab1;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}

html {
  font-size: 10px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}
p{
  margin-bottom: 0;
}
.active{
  border: 0.3rem solid var(--main--color) !important;
}

